@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

// =================================== NAVBAR Stylization =========================================
#navbar-example2 {
    position: fixed;
    display: flex;
    justify-items: space-around;
    z-index: 100;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.377);
    padding: 0px;
    width: 100%;
    transition: all .5s;
    height: 77px;
}



.navbar-brand {
    color: gold !important;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;


}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 215, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.custom-toggler.navbar-toggler {
    color: gold;

    border-color: gold;
}


.dropdown-menu {

    li a {
        padding: 0 0 0 20%;

    }
}

.dropdown {
    margin: 0;
    padding: 0;


}

.switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;

    width: 150px;

    div:nth-child(2) {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }
}

.swIcon {
    width: 20px;
    height: 20px;
    margin: 4px 0 0 3.5px;

}

.form-check-input {
    height: 20px !important;
}

.form-check-input:checked {
    background-color: #fec400 !important;
    border-color: mistyrose !important;

}

.form-check-input:focus {
    border-color: mistyrose !important;
    box-shadow: 0 0 0 0.2rem hsl(46, 100%, 50%, 0.25) !important;
}

//-------------------------------------------- scroll animation -----------------------
.navbar-scrolled {
    background-color: #212529;
    transition: all .5s;
    border-radius: 0 0 30px 30px;
    height: 66px;
}

//------------------------------------------------------------------------------------

.nav-link {
    color: gold !important;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.nav-link.active {
    background-color: rgba(218, 165, 32, 0.63) !important;
}

// ----------------------------------Translatio Dropdown ------------------------------------


// ----------------------------------Carousel Stylization------------------------------------

.carousel-img {
    width: 100%;
}

#carouselExampleInterval {
    .carousel-item {
        height: 95vh;
    }
}

// ------------------------------------------------------------------------------------------

#carouselExampleIndicators {

    .carousel-control-next,
    .carousel-control-prev {
        width: auto;
    }
}



// ==============================================================================================

// ============================= Footer Stylization =============================================
footer {
    background-color: rgba(0, 0, 0, 0.582);
    padding: 0px;
    font-family: 'Eczar', serif;

}

.phone {
    text-decoration: none;
    color: #EFEFEF;
    transition: .5s;
}

.phone:hover {
    color: #fec400;
}

.gmail {
    text-decoration: none;
    color: #EFEFEF;
    transition: .5s;
}

.gmail:hover {
    color: #fec400;
}



.socialmedia {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;

}

.socialmedicons {
    width: 35px;
    height: auto;
    margin: 5px 0;
    margin: 0 5px;
}

// ==============================================================================================
//======================== Sections Stylization ==================================================
#SectionTitle1,
#SectionTitle2,
#SectionTitle3,
#SectionTitle4,
#SectionTitle5 {
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    margin: 3.5% 0 5% 0;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(33, 37, 41, 0.5);

}

#SectionTitle1 p {
    font-size: 30px;

}

#scrollspyHeading3 {
    p {
        color: #212529;
        text-shadow: 3px 3px 4px gray;
        font-family: 'Eczar', serif;
        font-style: italic;
        width: 570px;
    }
}


.section1,
.section3,
.section5 {
    background-color: #EFEFEF;
}

.section2,
.section4 {
    background-color: white;
}

.section1,
.section2,
.section3,
.section4,
.section5 {
    padding: 4% 9%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;


    img {
        border-radius: 15px;
        height: 425px;
        transition: 1s !important;

    }

    .card {
        border-radius: 15px;
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: 1s !important;


    }

    .list-group-item {
        padding: 4% 0;
    }
}

.card:hover {
    transform: scale(1.1, 1.1) !important;


}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #fec400;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #212529;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #fec400;
}

.disclaimer {
    margin: 0;
    color: #fec400;
    text-align: center;
    padding: 7px;
    border-top: 1px solid #fec400;
    font-size: 12px;
}

.disclaimer p {
    padding: 0;
    margin: 0;
}

// --------------------------- Repertory Images Stylization -----------------------------------------

.rep1odd {
    width: 650px;
    border-radius: 15px;


}

.rep2even {
    width: 650px;
    border-radius: 15px;

}


.repContainer {
    display: flex;
    margin: 0 0 150px 0;
    justify-content: space-between;

    div:nth-child(1) {
        width: 50%;
    }

    div:nth-child(2) {
        width: 50%;
        padding-left: 30px;
    }
}

.repSection {
    padding: 0 9%;
}

.repSectioncar {
    padding: 0 9%;
    height: 480px;

}

// ---------------------------==============================-----------------------------------------

// --------------------------- Appearance animation -----------------------------------------
.iframely-embed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: white;
}


#app {
    display: flex;
}

.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 8vw;
    width: 100%;
    z-index: 2;
    width: 35%;

}


.image {

    img {
        border-radius: 15px;
    }

}

.galleryMain {
    padding: 100px;

    img {
        height: 100%;
        transition: 1s;
        border-radius: 15px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 15px 10px;

    }
}

.gall:hover {
    transform: scale(1.1, 1.1) !important;
}

.galanchor {
    color: #EFEFEF;
    transition: .5s;
}

.galanchor:hover {
    color: #fec400;
}

.moreanchor {
    color: #EFEFEF;
    transition: .5s;
}

.moreanchor:hover {
    color: #fec400;
}




.hidden {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    filter: blur(5px);
}

.show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0);
    filter: blur(0);
}

.hidden:nth-child(1) {
    transition-delay: 200ms;
}

.hidden:nth-child(2) {
    transition-delay: 400ms;
}

.hidden:nth-child(3) {
    transition-delay: 600ms;
}

.hidden:nth-child(4) {
    transition-delay: 800ms;
}

.hidden:nth-child(5) {
    transition-delay: 1000ms;
}

.hidden:nth-child(6) {
    transition-delay: 1200ms;
}

.hidden:nth-child(7) {
    transition-delay: 1400ms;
}

.hidden:nth-child(8) {
    transition-delay: 1600ms;
}

.hidden:nth-child(9) {
    transition-delay: 1800ms;
}

.hidden:nth-child(10) {
    transition-delay: 2000ms;
}

.hidden:nth-child(11) {
    transition-delay: 2200ms;
}

.hidden:nth-child(12) {
    transition-delay: 2400ms;
}

// ---------------------------Join the Ansemble------------------------------

.Form {
    display: flex;
    flex-flow: column;
    align-items: center;
}


.PMForm {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}

#surname {
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.323);
    min-height: 40px;

    &::placeholder {
        font-family: 'Libre Baskerville', serif;
        font-weight: normal;
        align-items: center;
        opacity: 0.4;
    }

}

#Name {
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.323);
    min-height: 40px;

    &::placeholder {
        font-family: 'Libre Baskerville', serif;
        font-weight: normal;
        align-items: center;
        opacity: 0.4;
    }

}

#email {
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.323);
    min-height: 40px;

    &::placeholder {
        font-family: 'Libre Baskerville', serif;
        font-weight: normal;
        align-items: center;
        opacity: 0.4;
    }

}

#Pnumb {
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.323);
    min-height: 40px;

    &::placeholder {
        font-family: 'Libre Baskerville', serif;
        font-weight: normal;
        align-items: center;
        opacity: 0.4;
    }

}

#YrMess {
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.323);
    width: 100%;
    min-height: 70px;
    margin: 0 0 18px 0;


    &::placeholder {
        font-family: 'Libre Baskerville', serif;
        opacity: 0.4;
    }


}



.PMForm .container {
    display: flex;
    flex-direction: column;
    padding: 0;

}

.PMForm .container:nth-child(2) {
    align-items: center;

}

.PMForm .container .title {
    width: 517px;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    margin: 0 0 4% 0;



}

.PMForm .container .description {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.25px;
    width: 490px;
    color: #404040;

    opacity: 0.99;

}

.PMForm .container .description .TermsCond {
    text-decoration: none;
    color: #4743E0;
    font-weight: bold;
    cursor: pointer;

}

.PMForm .container .Form input {
    width: 308px;
    height: 40px;
    margin: 0 0 18px 0;

}


.PMForm .container .Form .col input {
    width: 150px;
    height: 40px;

    /* margin: 0 0 12px 0; */

}

.PMForm .container .Form .checkbox {
    height: 24px;
    width: 24px;
    margin: 0;
}

.PMForm .container .Form .check {
    display: flex;
    align-items: center;
    margin: 0 0 24px 0;

}

.PMForm .container .Form .checkP {
    margin: 0 0 0 15px;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #404040;

}

.PMForm .container .Form .checkP .TermsCond {
    text-decoration: none;
    color: #4743E0;
    font-weight: bold;
    cursor: pointer;
}

.PMForm .container .Form .submitbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 48px;
    background: #212529;
    border-radius: 50px;
    border: #923A3A;
    margin-right: 7px;
    cursor: pointer;
    transition: .5s;
}

.PMForm .container .Form .submitbtn p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #fec400;
    margin: 0;
}

.PMForm .container .Form .submitbtn:hover {
    background: #33393f;

}

.PMForm .container .Form .usermess {
    height: 55px;
}



.PMForm .container .Form .vector5 {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 7px 0 0;
    width: 308px;
}

.PMForm .container .Form .vector5 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector5 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector5 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector5 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector5 input:focus {
    padding: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



.PMForm .container .Form .vector5 input::placeholder {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}



.PMForm .container .Form .vector6 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 308px;
}

.PMForm .container .Form .vector6 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector6 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector6 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector6 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector6 input:focus {
    padding: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.PMForm .container .Form .vector6 input::placeholder {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}


.PMForm .container .Form .vector7 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 308px;
}

.PMForm .container .Form .vector7 input {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector7 img {
    position: absolute;
    top: 10px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector7 input:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector7 input:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector7 input:focus {
    padding: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.PMForm .container .Form .vector7 input::placeholder {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}

.PMForm .container .Form .vector8 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 308px;
}

.PMForm .container .Form .vector8 textarea {
    padding: 10px 30px;
    transition: .3s;
}

.PMForm .container .Form .vector8 img {
    position: absolute;
    top: 17px;
    left: 7px;
    transition: .2s;
}

.PMForm .container .Form .vector8 textarea:hover~img {
    opacity: 0;
}

.PMForm .container .Form .vector8 textarea:focus~img {
    opacity: 0;

}

.PMForm .container .Form .vector8 textarea:focus {
    padding: 10px 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.PMForm .container .Form .vector8 textarea::placeholder {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;

    color: #000000;

    opacity: 0.4;

}

.checkbox {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 15px;
    vertical-align: middle;
    border: 1px solid rgba(128, 128, 128, 0.323);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox:checked {
    background-color: #fec400;
}

// --------------------------------------------------------------------------

.videos {
    width: 100%;
}

.accordion-button {
    background-color: #EFEFEF !important;
}


.accordion-button:not(.collapsed) {
    color: black !important;

}

// ===============================================================================================

@media screen and (max-width: 991px) {

    /* For mobile phones: */
    .navbar {
        background-color: #212529;
        height: auto;
    }

    .videoInsert {
        width: 370px;
        height: 240px;
    }

    .nav-pills {
        text-align: center;
        width: 100px;
        position: static;

        .nav-item {
            padding: 5px 0;
        }
    }

    .carousel {
        margin-top: 48px;
    }

    .carousel-item {
        height: auto;
    }

    // -----------------------------------------------------------------------

    .rep1odd {
        width: 325px;
        border-radius: 15px;

    }

    .rep2even {
        width: 325px;
        border-radius: 15px;

    }

    .repContainer {
        display: flex;
        flex-direction: column;
        margin: 0 0 75px 0;
        align-items: center;

        div:nth-child(1) {
            width: 100%;
        }

        div:nth-child(2) {
            width: 100%;
            padding: 0;

        }

        p {
            font-size: 13px;
        }
    }

    .repSection {
        margin: 0;
    }

    .repSection {

        .repContainer {

            p {
                font-size: 13px;
            }
        }
    }

    .DanceTitle {
        padding: 10px 0 0 0;
    }

    // -------------------------------------------------------------------------


    .cards {
        flex-flow: column;


    }

    .card:hover {
        transform: none !important;


    }

    #SectionTitle1,
    #SectionTitle2,
    #SectionTitle3,
    #SectionTitle4,
    #SectionTitle5 {
        font-family: 'Libre Baskerville', serif;
        font-size: 35px;
        font-style: bold;
        margin: 0 0 5% 0;

    }


    .section1 {

        p {
            font-family: 'Eczar', serif;
            font-size: 13px;
        }
    }

    #carouselExampleInterval {
        .carousel-item {
            height: auto;
        }
    }

    .section1,
    .section2,
    .section3,
    .section4,
    .section5 {
        padding: 6% 6%;
    }

    .PMForm {
        flex-flow: column;
    }

    .PMForm .container .title {
        width: 350px;
        font-family: 'Libre Baskerville', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: normal;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding-left: 20px;


    }

    .PMForm .container .description {
        font-family: 'Libre Baskerville', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0.25px;
        width: 350px;
        color: #404040;
        padding-left: 20px;


        opacity: 0.99;

    }

    footer {

        .blocks {

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .socialmedia {
        margin: 0;

        a {
            margin: 0 0 10px 0;
        }
    }

    #footercitate {
        font-size: 14px;
        text-align: center;
    }

    .switch {
        width: auto;
    }

    .navbar-scrolled {
        background-color: #212529;
        transition: all .5s;
        border-radius: 0 0 20px 20px;
    }

    #scrollspyHeading3 {
        p {
            color: #212529;
            text-shadow: 3px 3px 4px gray;
            font-family: 'Eczar', serif;
            font-style: italic;
            width: fit-content;
        }
    }

    #app {
        display: flex;
    }

    .title {
        grid-column: 1 / -1;
        grid-row: 1;
        font-size: 8vw;
        width: 35%;
        z-index: 2;

    }

    #Map1,
    #Map2 {
        width: 150px !important;
    }

    .galleryMain {
        padding: 75px 15px;

    }

    .gall:hover {
        transform: none !important;
    }
}